# Supabase
SUPABASE_URL=https://joywybbvhinvqsiomvkj.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui


JWT_SECRET=pedilivery_super_secret_key_mude_isso_em_producao

ADMIN_PASSWORD=admin123

PORT=3001
FRONTEND_URL=http://localhost:5173
